@import "./../abstracts/variables";
//$skills-blue: #3c61ff;
a:-webkit-any-link {
  text-decoration: none;
  color: black;
}
.section-header {
  font-size: 32px;
  font-weight: 900;
  background: linear-gradient(
    to right,
    $skills-blue,
    lighten($skills-blue, 10%)
  );
  text-transform: uppercase;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Orbitron";
}
