$star-svg: "%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' d='M12 2l3.09 6.26L22 9.27l-5 4.9L18.18 22 12 18.6 5.82 22 7 14.17 2 9.27l6.91-1.01L12 2z'/%3E%3C/svg%3E";

.about {
  @include gradient-bg;
  position: relative;
  background: $indigo;
  background-size: cover;
  overflow: scroll;
  //transform: scale(.7);
  height: 100%;
  color: black;
  font-weight: 200;
  font-style: normal;
  h1 {
    font-size: 52px;
  }
  h2 {
    font-size: 48px;
  }
  p {
    font-size: 40px;
  }

  .grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .full-box {
      width: 100%;
      text-align: center;
      position: relative;
    }
    .half-box {
      width: 50%;
      position: relative;
    }
  }

  .nametag {
    border: 2px solid black;
    border-radius: 24px;
    z-index: 2;
    display: block;
    background: $skills-blue;

    h2 {
      border-bottom: 2px solid black;
      height: 50px;
      margin: 5px;
      padding-left: 10px;
    }
    p {
      display: block;
      font-size: 80px;
      height: 100px;
      margin: 80px 50px 50px;
      color: $skills-blue; /* Text fill color */
      text-shadow: -3px -3px 0 white, /* Top-left shadow */ 3px -3px 0 white,
        /* Top-right shadow */ -3px 3px 0 white,
        /* Bottom-left shadow */ 3px 3px 0 white; /* Bottom-right shadow */
    }
  }

  .pic {
    //border: 1px solid black;
    height: 350px;
    width: 300px;
    margin: auto;
    background: rgb(239, 253, 255);
    transform: rotate(3deg);
    img {
      height: 250px;
      //position: relative;
      //top: 10px;
      margin: auto;
      padding-top: 20px;
      display: block;
    }
    span {
      width: 100%;
      font-size: 30px;
      position: relative;
      bottom: -30px;
      left: 20px;
    }
  }

  ul {
    height: 400px;
    display: block;
    li {
      font-size: 30px;
      color: black;
      &::marker {
        color: black;
        content: url("data:image/svg+xml,#{$star-svg}");
      }
    }
  }
}
