.card {
    height: 600px;
    width: 300px;
    position: relative;
    flex: none;
    width: 30%;
    max-width: 28rem;
    gap: 40px;

    a {

        .front {
            transition: .5s ease;
            border: 2px solid $purple;
            border-radius: .6rem;
            width: 100%;
            position: relative;
            overflow: hidden;
            box-shadow: 0 4px 21px 9px #00000017;
            height: 100%;
            z-index: 1;
            background: white;
            .imgContainer{
                height: 60%;
                overflow: hidden;
                width: 100%;
                object-fit: contain;
                background:     rgb(197, 197, 197);

                img {
                    width: 100%;
                }
            }
            .description {
                color: black;
                padding:  10px 30px;
                text-decoration: none;
                display: flex;
                flex-wrap:wrap;
                h2 {
                    padding-bottom: 0;
                    font-size: 20px;
                    width: 100%;
                }
                h3 {
                    padding-left: 10px;
                    text-align: left;
                    width: 100%;
                }
                li {
                    text-decoration: none;
                    //list-style: none;
                    text-align:left;
                }
            
            }
        }
        .back {
            transition: .5s ease;
            border: 2px solid $purple;
            border-radius: .6rem;
            width: 100%;
            position: relative;
            overflow: hidden;
            z-index: 0;
            background-color: $purple;
            letter-spacing: .05rem;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;
            font-size: 1.7rem;
            font-style: italic;
            font-weight: 300;
            line-height: .8;
            display: flex;
            position: absolute;
            inset: 0%;
            a {
                //color: white;
                font-style: normal;
                font-size: 1.2rem;
                text-align: center;
                margin-left: 110px;
                margin-bottom: 5px;
            }
        }
        
    }
    &:hover {
        .front{
            transform: rotate(3deg) translateY(-40px);

        }
        .back {
            transform:rotate(-3deg) translateY(10px);
            
        }
    }
    @media (max-width: 1200px){
        width: 50%;
        margin-block: 50px;
    }
    @media (max-width: $mobile-max){
        width: 80%;
        .front{
            transform: rotate(3deg) translateY(-40px);

        }
        .back {
            transform:rotate(-3deg) translateY(10px);
            
        }
    }
}