.myPhone {
    max-height: 100vh;
    .phone {
        position: relative; 
        background-size: 100% 100%;
        max-height: 100vh;
        background-repeat: no-repeat;
        padding: 50px 0 30px;
        .phoneScreen {
                border-radius: 20px;
                border: 1px solid black;
                box-shadow: -2px -2px 2px 2px #000000, 2px 2px 2px 2px #000000,;
                position: relative;
                transform: scale(0.8);
                top: -40px;
                margin: auto;
                height: 92vh;
                overflow: hidden;
                margin: 0;

        }
    }
}