.myPhone {
    max-height: 100vh;
    .phone {
        position: relative; 
        background-size: 100% 100%;
        max-height: 100vh;
        height: 100vh;
        background-repeat: no-repeat;

        .phoneScreen {
                border-radius: 20px;
                border: 1px solid black;
                box-shadow: -2px -2px 2px 2px #000000, 2px 2px 2px 2px #000000,;
                position: relative;
                transform: scale(0.8);
                top: 10px;
                margin: auto;
                height: 85vh;
                overflow: hidden;
                margin: 0;

        }

    }
        .btn-bar {
            display: flex;
            width: 100%;
            top: -140px;
            position: relative;
            justify-content: space-around;
        }
            .answer-call {
            height: 50px;
            width: 50px;
            padding-left:10px;
        }
        .end-call {
            height: 50px;
            width: 50px;
            padding-right:10px;
        }
        .home-btn {
            height: 60px;
            width: 60px;
            background: #B991E6;
            position: relative;
            border-radius: 10px;
            top: 25px;
            box-shadow: -2px -2px 0px 0px #000000, 2px 2px 0px 0px #000000,;

        }
}