.resume {
  @include gradient-bg;
  position: relative;
  background: $indigo;
  background-size: cover;
  overflow: scroll;
  height: 100%;
  .resume-iframe {
    width: 100%;
    margin: auto;
    p {
      font-size: 21px;
      padding: 0 30px;
    }
    @media (min-width: $desktop-min) {
      padding: 50px;
      padding-top: 0;
      width: 90%;
    }
    .resume-btn {
      margin: auto;
      display: block;
      text-align: center;
      margin-top: 30px;
    }
    iframe {
      position: relative;
      width: 100%;
      display: block;
      //min-width: 0px;
      margin: auto;
      transform: scale(0.8);
      padding: 0;
      margin: 0;
      @media (min-width: $desktop-min) {
        transform: scale(1);
        width: 100%;
        margin: auto;
        margin-top: 50px;
      }
    }
  }
}
