$calendar-color: rgba(46, 28, 126, 0.8);
$calendar-bg: rgb(136, 79, 160);
body {
    
}
.container{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
      
}
.plant {
    height: 280px;
    position: absolute;
    left: 50%;
    top: 8%;
    margin-left: -480px;
}
.gummies{
    height: 350px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: 200px;
    margin-left: -650px;
    transform: rotate(-25deg);
}
.bg-img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    //background-image: url('/assets/bg-room.png');
  }
  
.laptop{
    //background-image: url('/assets/laptop.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 450px;
    width: 650px;
    position: absolute;
    left: 50%;
    top: 40%;
    margin-left: -280px;
    z-index: 4;
    transition: ease .3s;
    &.scale-up{
        transform: scale(2.6);
        top: 50%;
        left: 50%;
        margin-left: -285px;
        cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="36" height="48" viewBox="0 0 24 24"><path fill="%23FFF" stroke="%23000" stroke-width="2" stroke-linejoin="round" d="M18 14.88 8.16 3.15c-.26-.31-.76-.12-.76.28v15.31c0 .36.42.56.7.33l3.1-2.6 1.55 4.25c.08.22.33.34.55.26l1.61-.59a.43.43 0 0 0 .26-.55l-1.55-4.25h4.05c.36 0 .56-.42.33-.7Z"></path></svg>'), auto;
        .window{
            .project{
                &:hover{
                    transform: scale(1.1);
                }
            }
        }
    }
    &:hover{
    filter: drop-shadow(12px 12px 10px #fff) drop-shadow(-12px -12px 10px #fff) 
        drop-shadow(12px -12px 10px rgba(255, 255, 255, 0.5)) 
        drop-shadow(-12px 12px 10px rgba(255, 255, 255, 0.5));
    }
    .window {
        position: relative;
        width: 40%;
        height: 35%;
        background: #191919;
        top: 16%;
        left: 28%;
        .location{
            position: relative;
            top: 0px;
            left: 0;
            width: 100%;
            height: 10%;
            background: black;
            .path{
                border:.5px solid rgb(251, 238, 250);
                position: relative;
                width: 90%;
                left: 50%;
                top: 50%;
                transform:translate(-50%, -50%);
                height: 50%;
            }
        }
        .content{
            display: flex;
            flex-wrap: wrap;
            font-size: 8px;
            height: 90%;
            .left{
                width: 30%;
                height: 100%;
                border-right: 1px solid black;
                ul{
                    padding-left: 5px;
                    li {
                        list-style:none;
                        color: rgba(251, 238, 250,.5);
                        
                    }
                }
            }
            .right{
                width: 60%;
                height: 100%;
                margin: 10px;
                .project{
                    display: flex;
                    flex-wrap: wrap;
                    .folder {
                        width: 20%;
                        height: 20px;
                    }
                    h2 {
                        width: 60%;
                        font-size: 6px;
                        color: rgb(251, 238, 250);
                    }
                
                }
               
            }
        }
    }

}
.trail { /* className for the trail elements */
    position: absolute;
    height: 8px; width: 8px;
    border-radius: 4px;
    background: white;
    border: 1px solid black;
    z-index: 10;
  }
  .contact{
    //background: url('/assets/contact.png');
    background-size: cover;
    height: 180px;
    background-position: center;
    width: 180px;
    position: absolute;
    left: 50%;
    margin-left: -380px;
    top: 40%;
    z-index: 4;
    transition: ease .3s;
    ul{
        position: relative;
        padding: 30px 20px;
        top: 20px;
        transform: rotate(-1deg);
        opacity: .8;
        li{
            list-style: none;
            color: #fedeff;
            font-size: 8px;
            font-family: "Edu AU VIC WA NT Hand", cursive;
        }
    }
    &:hover {
        filter: drop-shadow(12px 12px 10px #fff) drop-shadow(-12px -12px 10px #fff) 
        drop-shadow(12px -12px 10px rgba(255, 255, 255, 0.5)) 
        drop-shadow(-12px 12px 10px rgba(255, 255, 255, 0.5));

    }
    &.scale-up{
        transform: scale(5);
        margin-left: 0;

    }
  }

  .coffee {
    height:  250px;
    left: 50%;
    margin-left: -500px;
    top: 60%;
    position: relative;
  }
  .scale-up{

    z-index: 999;
    &:hover{
        filter:none;
    }
  }

  .clock {
    height: 150px;
    left: 50%;
    top: 40%;
    margin-left: 700px;
    position: relative;
  }

  .clickable {
   // animation: glow-effect 1s;
    
  animation-iteration-count: infinite;
  animation-timing-function: linear;

  }
  
  @keyframes glow-effect {
    0% {
        filter: none;
    }
    100% { filter: drop-shadow(12px 12px 10px #fff) drop-shadow(-12px -12px 10px #fff) 
        drop-shadow(12px -12px 10px rgba(255, 255, 255, 0.5)) 
        drop-shadow(-12px 12px 10px rgba(255, 255, 255, 0.5));}
  }
  
  .pens {
    position: absolute;
    left: 50%;
    margin-left: 190px;
    top: 50%;
    margin-top: -60px;
    height: 200px;
  }

  .jewelery {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -650px;
    margin-top: 100px;
    height: 150px;
  }
  .airpods {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 180px;
    margin-left: 550px;
    margin-top: 250px;
  }
  .notebook{
    position: absolute;
    left: 50%;
    top: 50%;
    height: 270px;
    margin-left: 235px;
    margin-top: 150px;

  }
  .sunnies {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100px;
  }
  .calendar {
    height: 330px;
    width: 350px;
    background: $calendar-bg;
    position: absolute; 
    left: 50%;
    top: 0%;
    margin-left: 440px;
    color: rgb(49, 42, 82);
    box-shadow: 0px 4px 0 rgb(43, 6, 6);
    h2 {
        text-align: center;
        text-transform: uppercase;
        font-family: impact;
        letter-spacing: 3px;
        margin-bottom: 0px;
        margin-top: 30px;
        font-size: 38px;
        color: $calendar-bg;
        background-color: $calendar-bg;
        text-shadow: -2px -2px 0 $calendar-color, 2px -2px 0 $calendar-color, -2px 2px 0 $calendar-color, 2px 2px 0 $calendar-color;
    }
    table {
        //border: 2px solid rgb(49, 42, 82);
        color: $calendar-color;
        border-collapse: collapse;
        margin: auto;
        td {
            border: 2px solid $calendar-color;
            width: 40px;
            height: 32px;
            position: relative;
            p{
                margin: 0;
                font-size: 11px;
                width: 14px;
                margin-top: -16px;
            }
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
                opacity: .3;
            }
        }
        th {
            width: 40px;
            margin-bottom: -5px;
        }
    }
  }